.form-control:focus {
  box-shadow: none;
}
nav {
  background-color: #2874f0;
  border-bottom: lightgray 2px solid;
  margin-bottom: 0px;
  padding-bottom: 0px;
  background-size: 0px !important;
}

/* a.navbar-brand {
    display: contents;
  } */
body {
  font-family: "Times New Roman", Times, serif;
  min-height: 100%;
  min-width: 100%;
  background-size: 100% 100%;
  background-repeat: no-repeat;
}

.carousel-item img {
  height: 80%;
  object-fit: cover;
}
/* .well{
   // background-color:lightslategrey ;
} */
.fa fa-search {
  color: black;
}
.navbar-toggler:focus,
.navbar-toggler:active,
.navbar-toggler-icon:focus {
  outline: none;
  box-shadow: none;
}
/* #navbarNavAltMarkup form{
    height:18px;
} */
.input-mysize {
  height: 45px !important;
  font-size: 22px !important;
  line-height: 20px !important;
  width: 390px;
  margin-top: 5px !important;
}
.input-login {
  height: 45px !important;
  font-size: 19px !important;
  line-height: 20px !important;
  margin-top: 5px !important;
  padding-bottom: 77px !important;
}

.overlay {
  transition: all 0.5s;
  -moz-transition: all 0.5s;
  -webkit-transition: all 0.5s;
  -o-transition: all 0.5s;
  -ms-transition: all 0.5s;
  overflow: hidden;
  display: inline-block;
}
.overlay:hover img {
  transition: all 0.5s;
  -moz-transition: all 0.5s;
  -webkit-transition: all 0.5s;
  -o-transition: all 0.5s;
  -ms-transition: all 0.5s;
  transform: scale(1.10);
  -moz-transform: scale(1.10);
  -webkit-transform: scale(1.10);
  -o-transform: scale(1.10);
  -ms-transform: scale(1.10);
  overflow: hidden;
  display: inline-block; 
  cursor: pointer;
}
.form-inline {
  margin-left: 0% !important;
  padding-left: 0% !important;
}
.hov:hover{
  color: #2874f0 ;
  cursor: pointer;
}
.navbar-brand img {
  margin-left: 75% !important;
  margin-right: 0% !important;
}
.item img {
  background-color: white;
  border: 2px solid grey;
  margin: 40px;
  padding: 0px;
  width: 180px;
  height: 145px;
}
.item:hover {
  transition: all 0.5s;
  -moz-transition: all 0.5s;
  -webkit-transition: all 0.5s;
  -o-transition: all 0.5s;
  -ms-transition: all 0.5s;
  transform: scale(1.25);
  -moz-transform: scale(1.25);
  -webkit-transform: scale(1.25);
  -o-transform: scale(1.25);
  -ms-transform: scale(1.25);
}
.container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}
@media (max-width: 1120px) {
  .navbar-brand img {
    margin-left: 30% !important;
    margin-right: 0% !important;
    padding-right: 0% !important;
  }
  .sponser img {
    width: 100%;
    height: auto;
  }
  a.navbar-brand {
    display: contents;
  }
  input.form-control {
    width: 250px !important;
    margin-bottom: 2px;
  }
  .input-mysize {   
    height: 60px !important;
    font-size: 20px !important;
    line-height: 20px !important;
    width: 100% !important; 
    margin-top: 18px !important;
    margin-bottom: 10px !important;
    
    border-radius: 5px;

}

/* .input-mysize input{
    height: 50px !important;
    font-size: 20px !important;
    line-height: 60px !important;
    align-items: center !important;
    margin-bottom: 90px !important;
    width: 30px;
}
.input-mysize button{
    height: 0px !important;
    font-size: 0px !important;
    line-height: 60px !important;
    align-items: center !important; 
} */
.input-login{
    height: 50px !important;
    font-size: 17px !important;
    line-height: 10px !important;
    margin-top: 5px !important;
    border-radius: 10px !important;

}
}
